{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "ignorePatterns": [
    "dist/**"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [
    "@typescript-eslint",
    "import-length",
    "import",
    "simple-import-sort"
  ],
  "extends": [
    "eslint:recommended",
    "semistandard",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "import-length/import-length": "error",
    "import/newline-after-import": "error",
    "import/no-anonymous-default-export": "error",
    "import/no-useless-path-segments": "error",
    "import/order": "error",
    "react/prop-types": "off",
    "simple-import-sort/imports": "error"
  },
  "overrides": [
    {
      "files": ["**/*spec.tsx"],
      "parser": "@typescript-eslint/parser",
      "rules": {
        "react-hooks/rules-of-hooks": "off"
      }
    },
    {
      "files": ["**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "rules": {
        "@typescript-eslint/no-use-before-define": "error",
        "no-use-before-define": "off"
      }
    }
  ]
}
